.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    z-index: 2000 !important;
}

.modal-content {
    background-color: #f5f5f5;
    margin: 10% auto;
    padding: 2em;
    border: 1px solid #888;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.modal-header{
    font-size: 27px;
    text-align: center;
    margin: 0px 0 30px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1em 2em;
    margin: 1em 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    font-size: 1em;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

body.modal-open #content{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    padding: 0 !important;
}


.my-div-icon {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background: #1e90ff;
    color: white;
    text-align: center;
    line-height: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.icon-content {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.icon-content:hover {
    transform: none;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#mapid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#show-btn{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.5);
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    margin: 1em 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 5px;
    font-size: 1em;
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 10; /* add this */
}

#fav-btn{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.5);
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    margin: 1em 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 5px;
    font-size: 1em;
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 10; /* add this */
}

#mapid .leaflet-pane {
    z-index: 500 !important;
}

.map-wrapper {
    padding: 0;
    width: 100%;
    height: 100%;
}



.button-container {
    display: flex;
    gap: 100px; 
    padding-left: 35%;
}

/*Upload loc CSS*/

form .form-group {
margin-bottom: 15px;
position: relative;
}
form label {
display: block;
font-size: 15px;
margin-bottom: 7px;
}
form input,
form select {
height: 45px;
padding: 10px;
width: 100%;
font-size: 15px;
outline: none;
background: #fff;
border-radius: 3px;
border: 1px solid #bfbfbf;
}
form input:focus,
form select:focus {
border-color: #9a9a9a;
}
form input.error,
form select.error {
border-color: #f91919;
background: #f9f0f1;
}
form small {
font-size: 14px;
margin-top: 5px;
display: block;
color: #f91919;
}

.icon-label {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -20px;  
    font-size: 10px; 
    color: black;  
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -50%);
}